.TextField {
  color: "white";
}
.MuiTextField-root {
  background-color: white;
  background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)'
}
.Autocomplete {

}

.App {
  color: 'red';
}

.AppBar {
  color: 'green';
}
.Chart {
  padding: 60px;
}