
.MuiTextField-root {
  background-color: white;
  background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)'
}

.App {
  color: 'red';
}

.AppBar {
  color: 'green';
}
.Chart {
  padding: 60px;
}

.Button {
	padding: 10px;
}

a, u {
    text-decoration: none;
    color: black;
}